---
# tasks file for webserver

- name: Install Apache and PHP
  ansible.builtin.apt:
    name:
      - apache2
      - php
      - php-mysql
      - libapache2-mod-php
      - ghostscript
      - mysql-server
      - php-bcmath
      - php-curl
      - php-imagick
      - php-intl
      - php-json
      - php-mbstring
      - php-xml
      - php-zip
    state: present

- name: Download unzip
  ansible.builtin.apt:
    name: unzip
    state: present
    update_cache: yes

- name: Download WordPress
  ansible.builtin.get_url:
    url: http://wordpress.org/latest.zip
    dest: /tmp/wordpress.zip

- name: Extract WordPress
  ansible.builtin.unarchive:
    src: /tmp/wordpress.zip
    dest: /var/www/html/
    remote_src: yes
    creates: /var/www/html/wordpress

- name: Set WordPress ownership
  ansible.builtin.file:
    path: /var/www/html/wordpress
    state: directory
    owner: "{{ web_user }}"
    group: "{{ web_group }}"
    recurse: yes

- name: Set WordPress directories permissions
  ansible.builtin.find:
    paths: /var/www/html/wordpress
    file_type: directory
  register: wordpress_dirs

- ansible.builtin.file:
    path: "{{ item.path }}"
    mode: "0755"
  loop: "{{ wordpress_dirs.files }}"

- name: Set WordPress files permissions
  ansible.builtin.find:
    paths: /var/www/html/wordpress
    file_type: file
  register: wordpress_files

- ansible.builtin.file:
    path: "{{ item.path }}"
    mode: "0644"
  loop: "{{ wordpress_files.files }}"

- name: Configure wp-config.php
  ansible.builtin.template:
    src: wp-config.php.j2
    dest: /var/www/html/wordpress/wp-config.php
    mode: '0644'

- name: Ensure Apache is running
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: yes
